<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <a href="/">Posts</a>
      <a href="/new">New Posts</a>
    </nav>
    <p><strong>Full Name: </strong><%= @f_name + " " + @l_name %></p>
    <p><strong>Age: </strong><%=@age %></p>
    <p><strong>Email: </strong><%=@email %></p>
  </body>
</html>
